<div class="container">
	<div class="row">
		<div class="col-lg-1">
			<%= link_to root_path do %> 
 			<button type="button" class="btn btn-primary btn-lg ">Back</button>
 			<% end %>
		</div>
		<div class="col-lg-9">

			<h3 class="text-primary"><%= @Animegif.name %></h3>
		</div>
		<div class="col-lg-9 col-md-12 col-xs-12">
			<div class="video">

					<div class="embed-responsive embed-responsive-16by9">

<video class="resize" poster="http://thumbs.gfycat.com/<%= @Animegif.url %>-poster.jpg" loop>

     
							<source src=<%= @Animegif.webmurl %> type="video/webm">
								<source src=<%= @Animegif.mp4url %> type="video/mp4">
						</video>  

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type"text/javascript" src="http://test.gfycat.com/gfycat_test_may18.js"></script>  

<script>

	$(document).on('mouseenter','.video', hoverVideo ).on('mouseleave','.video',hideVideo );
	function hoverVideo(e) {
		$('video',this).get(0).play();
		$('header',this).hide();
	}

	function hideVideo(e) {
		$('video',this).get(0).pause();
		$('header',this).show();
	}

 (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.src = 'http://assets.gfycat.com/js/gfyajax-0.517d.js';
    s.parentNode.insertBefore(g, s);
}(document, 'script'));




</script>
