<% title @Animegif.name %>
<div class="container">
	<div class="row">
		<div class="col-lg-1">
			<%= link_to root_path do %> 
 			<button type="button" class="btn btn-primary btn-lg back-padding ">Back</button>
 			<% end %>
		</div>
		<div class="col-lg-9">

			<h3 class="text-primary"><%= @Animegif.name %>
			<% if !@Animegif.redditurl.nil? %>
				<%= link_to image_tag("redditicon.png"), @Animegif.redditurl.sub("http://","https://"),:rel => "nofollow" %></h3>
			<% end %>
		</div>

		<div class="col-lg-9 col-md-12 col-xs-12">	
		<% if @Animegif.urlType.include? "gfycat" %>
			<div class="video">

					<div class="embed-responsive embed-responsive-16by9">

					<video class="resize" autoplay poster="https://thumbs.gfycat.com/<%= @Animegif.url %>-poster.jpg" loop>
							<source src=<%= @Animegif.webmurl.sub("http://","https://") %> type="video/webm">
							<source src=<%= @Animegif.mp4url.sub("http://","https://") %> type="video/mp4">
						</video>  

					</div>
			</div>
		<% else %>
		<div class="video">
			<div class="embed-responsive embed-responsive-16by9">
				<video class="embed-responsive-item" autoplay poster=<%= @Animegif.urlType.sub("http://","https://")%> loop>	
			        <source src=<%= @Animegif.webmurl.sub("http://","https://") %> type="video/webm">
			         <source src=<%= @Animegif.mp4url.sub("http://","https://") %> type="video/mp4">	
			 	</video>  
			</div>
		</div>
		<% end %>
		<!-- End of col-lg-9 column -->
		</div>
	</div>
</div>
