<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 thumb">
	<div class="video">
		<div class="module">
			<%= render 'rating',gif: gif %>
			<div class="embed-responsive embed-responsive-16by9">
				<%= link_to(gif) do %>
					<video class="embed-responsive-item" poster="https://thumbs.gfycat.com/<%= gif.url %>-poster.jpg" loop>   
			            <source src=<%= gif.webmurl.sub("http://","https://") %> type="video/webm">
			            <source src=<%= gif.mp4url.sub("http://","https://") %> type="video/mp4">	
        
 					</video>  

 				<% end %>
 			</div>
 		</div>
 	</div>
</div>